body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  width: 400px;
  height: 380px;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

p{
  font-size: 20px;
}

form select,
form input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form input[type="submit"] {
  width: 100%;
  padding: 10px;
  font-weight: bold;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #45a049;
  transition: 0.15s;
}


h3 {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
}

